@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-900 bg-slate-50;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}

.card {
  @apply bg-white rounded-2xl shadow-lg border border-slate-100;
}


